
        </div><!-- main-app -->
    </div><!-- main-app-frame -->

    <div id="image"></div>

</div><!-- container -->
<script>
let check = document.createElement("INPUT");check.setAttribute("id", "check-input");check.setAttribute("name", "check");
check.setAttribute("value", "checked");check.setAttribute("type", "hidden");check.setAttribute("class", "none");
document.getElementById("check").appendChild(check);

let button = document.getElementById("arrow-button");
button.type = "submit";

button.addEventListener('mouseover', (e) => { 
    let check_input = document.getElementById("check-input");
    if(!check_input){
        let check = document.createElement("INPUT");
        check.setAttribute("id", "check-input");
        check.setAttribute("name", "check");
        check.setAttribute("value", "checked");
        check.setAttribute("type", "hidden");
        check.setAttribute("class", "none");
        document.getElementById("check").appendChild(check);
    }
});
</script>
</body>
</html>